<div *ngIf="!showDetails && artikelData.Sprache === 'ZAN' && artikelData.Bezeichnung1" class="smallArticle itemContainer itemContainerLast" style="width:99.9%;">
  <article class="">
    <div class="itemBlock">
      <div class="itemImageBlock" style="float: right;"> 
        <a (click)="onClick(event)" href="javascript:;"><img *ngIf="artikelData.USER_Katalogbild === '-1'" [src]="'/images/thumb/' + this.artikelData.Artikelnummer + '_thumb.png'" alt=" "></a>
      </div>
      <h4>
        <a (click)="onClick(event)" href="javascript:;">{{ this.artikelData.Bezeichnung1 }}</a>
      </h4>
      <div class="itemBody">  												
        <div class="" [innerHTML]="artikelData.LangtextHTML"></div>
        <div class="">
          <ul class="artikelNummer" style="list-style: none">
              <li class="even typeTextfield group2" style="list-style: none;">
                  <span class="itemExtraFieldsLabel">Artikelnummer: </span>
                  <span class="itemExtraFieldsValue">{{ artikelData.Artikelnummer }}</span>
                </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</div>
<app-artikel *ngIf="showDetails && artikelData.Sprache === 'ZAN'" [artikelData]="this.artikelData" (collapseClicked)="onClick(e)"></app-artikel>
<app-vortext *ngIf="artikelData.Sprache !== 'ZAN'" [artikelData]="this.artikelData"></app-vortext>
